@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
/* font-family: 'Rubik 80s Fade', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/* font-family: 'Tilt Neon', sans-serif; */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/chiffresbg.png");   
    background-repeat: no-repeat;
    background-size : cover;
    width: 99%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}



h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Rubik 80s Fade', sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    color: #f09d54;
}

@media screen and (max-width: 450px) {
    h1 {
        visibility: hidden;
    }
}

.fa-solid {
    margin-left: 2rem;
}

.calculatrice {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    margin: 0;
    margin-left: 0.1rem;
}

@media screen and (max-width: 450px) {
    .calculatrice {
       margin-top: -5rem;
    }
}


#formule {
background-color: #70827e;   
 border: none;
    font-size: 3rem;
    width: 80%;
    font-family: 'Tilt Neon', sans-serif;
    text-align: center;
    margin-bottom: 4.2rem;
}

#result {
    font-size: 3rem;
    text-align: left;
    font-family: 'Tilt Neon', sans-serif;
    margin-right: 0.1rem;
}

.screen {
    background: radial-gradient(circle, rgba(112,130,126,0.9304096638655462) 0%, rgba(120,137,133,1) 100%);
    width: 96%;
    height: 11rem;
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    border-radius: 10px;
    margin: 10px;
}

.touches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh;
    padding: 0.5rem;
    grid-row-gap: 0.4rem;
    grid-column-gap: 0.4rem;
}

.boutonPoint {
    background-color: gray;
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonPoint:hover {
    background-color: #bcbcbc;
}

.boutonReset {
    background-color: gray;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;

}

.boutonReset:hover {
    background-color: #bcbcbc;
}

.boutonDivis {
    background-color: gray;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonDivis:hover {
    background-color: #bcbcbc;
}

.boutonMulti {
    background-color: gray;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonMulti:hover {
    background-color: #bcbcbc;
}

.boutonMoins {
    background-color: gray;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonMoins:hover {
    background-color: #bcbcbc;
}

.boutonSeven {
    background-color: gray;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonSeven:hover {
    background-color: #bcbcbc;
}

.boutonEight {
    background-color: gray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;

}

.boutonEight:hover {
    background-color: #bcbcbc;
}

.boutonNine {
    background-color: grey;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;

}

.boutonNine:hover {
    background-color: #bcbcbc;
}

.boutonFour {
    background-color: gray;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonFour:hover {
    background-color: #bcbcbc;
}

.boutonFive {
    background-color: gray;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonFive:hover {
    background-color: #bcbcbc;
}

.boutonTwo {
    background-color: gray;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonTwo:hover {
    background-color: #bcbcbc;
}

.boutonThree {
    background-color: gray;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonThree:hover {
    background-color: #bcbcbc;
}

.boutonOne {
    background-color: gray;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonOne:hover {
    background-color: #bcbcbc;
}

.boutonSix {
    background-color: gray;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border-radius: 5px;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonSix:hover {
    background-color: #bcbcbc;
}

.boutonZero {
    background-color: gray;
    border-radius: 5px;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonZero:hover {
    background-color: #bcbcbc;
}

.boutonPlus {
    background-color: gray;
    border-radius: 5px;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonPlus:hover {
    background-color: #bcbcbc;
}

.boutonEgal {
    background-color: gray;
    border-radius: 5px;
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    border-color: white;
    border-style: inset;
    border-width: 3px;
    color: black;
}

.boutonEgal:hover {
    background-color: #bcbcbc;
}